{% extends 'config/tab_base.html' %}
        {% block content %}


		<!-- aqui empieza tarifa -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 center">
				<h5>Realiza consultas, agrega, modifica o elimina tarifas.</h5>
			</div>
			<div class="col s1"></div>
		</div>
		<br/> <!-- dead space -->
		<!-- aquí empiezan los select -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
						<select>
							<option disabled selected value="">País</option>
							<option value="1">México</option>
							<option value="2">canadá</option>
						</select>
					</div>
					<div class="col s4">
						<select>
							<option disabled selected value="">Ciudad</option>
							<option value="1">CDMX</option>
							<option value="2">Toronto</option>
						</select>
					</div>
					<div class="col s4">
						<select>
							<option disabled selected value="">Tipo de Vehículo</option>
							<option value="1">Sedán</option>
							<option value="2">Camioneta</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- segunda columna -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
					<select>
						<option disabled selected value="">Empresa</option>
						<option value="1">Taximovil</option>
						<option value="2">Avant</option>
					</select>
				</div>
				<div class="col s4">
					<select>
						<option disabled selected value="">Sucursal</option>
						<option value="1">Reforma</option>
						<option>Roma Sur</option>
					</select>
				</div>
				<div class="col s4">
					<select>
						<option disabled selected value="">Zona</option>
						<option value="1">Norte</option>
						<option value="2">Sur</option>
					</select>
				</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- agregamos botones para consultar y registrar tarifa -->
		<div class="row">
			<div class="col s2"></div>
			<div class="col s8">
				<div class="row center">
					<div class="col s6">
						<a class="waves-effect waves-light btn-large"><i class="material-icons">search</i>         Consultar Tarifario</a>
					</div>
					<div class="col s6">
						<a class="waves-effect waves-light btn-large"><i class="material-icons">add_to_queue</i>       Registrar Tarifario</a>
					</div>
				</div>
			</div>
			<div class="col s2"></div>
		</div>
		<!-- fin -->
		<!-- aquí debe de ir la tablita -->

		<div class="row"></div>		<!-- dead space -->
		<div class="row">
			<div class="col s1"></div>
            <!-- aquí comienza la tabla -->
			<div class="col s10">
				<table class="bordered highlight centered responsive-table">
					<thead class="fondo_negro white-text">
						<tr>
							<th>PAÍS</th>
							<th>CIUDAD</th>
							<th>VEHÍCULO</th>
							<th>SUCURSAL</th>
							<th>ZONA</th>
							<th>HORARIOS</th>
							<th>TARIFAS</th>
							<th>EDITAR</th>
							<th>ELIMINAR</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Juan Perez Martinez</td>
							<td>Lorem ipsum</td>
							<td>3</td>
							<td>2</td>
							<td><a href="#!"><i class="material-icons naranja">edit</i></a></td>
							<td><a href="#!"><i class="material-icons morado">delete</i></a></td>
						</tr>
						<tr>
							<td>Juan Perez Martinez</td>
							<td>Lorem ipsum</td>
							<td>3</td>
							<td>2</td>
							<td><a href="#!"><i class="material-icons naranja">edit</i></a></td>
							<td><a href="#!"><i class="material-icons morado">delete</i></a></td>
						</tr>
						<tr>
							<td>Juan Perez Martinez</td>
							<td>Lorem ipsum</td>
							<td>3</td>
							<td>2</td>
							<td><a href="#!"><i class="material-icons naranja">edit</i></a></td>
							<td><a href="#!"><i class="material-icons morado">delete</i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s12 center">
				<ul class="pagination">
				    <li class="waves-effect"><a href="#!"><i class="material-icons rosa">chevron_left</i></a></li>
				    <li class="active"><a href="#!">1</a></li>
				    <li class="waves-effect"><a href="#!">2</a></li>
				    <li class="waves-effect"><a href="#!">3</a></li>
				    <li class="waves-effect"><a href="#!"><i class="material-icons rosa">chevron_right</i></a></li>
  				</ul>
			</div>
		<!-- finaliza la tabla -->

	</div>
{% endblock %}
<script type="text/javascript">
	$("document").ready(function()
	{
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
		$('select').material_select();
	});
</script>
</html>
<!-- Developed By Softic Web Team -->