{% extends 'config/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <h1 class="font_menu">Horarios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="panel panel-default">
                <div class="panel-heading col-lg-12">
                    Horario de tarifa -- {{ tarifa.nombre }}
                    <div class="col-lg-offset-11">
                        <a class="white-text modal-trigger" href="#" onclick="actualiza()">
                            <button type="button" class="btn btn-primary btn-sm rounded-s" id="btnAgregarHorario"
                                    data-toggle="modal" data-target="#myModal">Agregar
                            </button>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <table class="centered bordered table-hover responsive-table" id="horario">
                            <thead>
                            <tr class="primera_fila">
                                <th>Día</th>
                                <th>Hora inicial</th>
                                <th>Hora final</th>
                                <th>Eliminar</th>
                            </tr>
                            </thead>

                            {% for h in horarios %}
                                <tr id={{ h.pk }}>
                                    <td><select id="horario{{ h.pk }}" class="ckbDiaSemana form-control">
                                        <option value="">Día</option>
                                        <option value="1" {% if h.diasemana == 1 %} selected {% endif %}>Lunes</option>
                                        <option value="2" {% if h.diasemana == 2 %} selected {% endif %}>Martes</option>
                                        <option value="3" {% if h.diasemana == 3 %} selected {% endif %}>Miercoles
                                        </option>
                                        <option value="4" {% if h.diasemana == 4 %} selected {% endif %}>Jueves</option>
                                        <option value="5" {% if h.diasemana == 5 %} selected {% endif %}>Viernes
                                        </option>
                                        <option value="6" {% if h.diasemana == 6 %} selected {% endif %}>Sabado</option>
                                        <option value="7" {% if h.diasemana == 7 %} selected {% endif %}>Domingo
                                        </option>
                                    </select></td>
                                    <td><input input type="text" class="timepicker inputHorarioTrabajo"
                                               placeholder="hh:mm*" id="horaInicio{{ h.pk }}"
                                               value="{{ h.horainicio|date:'H:i' }}"/></td>
                                    <td><input input type="text" class="timepicker inputHorarioTrabajo"
                                               placeholder="hh:mm*" id="horaFin{{ h.pk }}"
                                               value="{{ h.horafin|date:'H:i' }}"/></td>
                                    <td><a class="text_azul" onclick='quitarHorario({{ h.pk }})'><i
                                            class="material-icons">delete_forever</i></a></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm rounded-s"
                                                id="btnRegistraTarifa" onclick="guardar({{ h.pk }})">Guardar
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                {% if init == '1' %}
                    <div class="col-sm-offset-10">
                        <a href="#" class="btn btn-primary btn-sm rounded-s">Agregar Zonas</a>
                    </div>
                {% endif %}
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5 class="font_menu">Agregar horario</h5>
            <form method="post" action="{% url "webapp:agregar_horario" %}">
                {% csrf_token %}
                <table class="centered  table-hover responsive-table">
                    <thead>
                    <tr>
                        <th>Día</th>
                        <th>Hora inicial</th>
                        <th>Hora final</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><select id="diasemana" name="diasemana" class="ckbDiaSemana form-control">
                            <option value="">Día</option>
                            <option value="1">Lunes</option>
                            <option value="2">Martes</option>
                            <option value="3">Miercoles</option>
                            <option value="4">Jueves</option>
                            <option value="5">Viernes</option>
                            <option value="6">Sabado</option>
                            <option value="7">Domingo</option>
                        </select></td>
                        <td><input type="time" placeholder="hh:mm*" id="horainicio" name="horainicio"
                                   class="inputHorarioTrabajo"></td>
                        <td><input type="time" placeholder="hh:mm*" id="horafin" name="horafin"
                                   class="inputHorarioTrabajo"></td>
                    </tr>
                </table>
                <input type="hidden" name="tarifa" value="{{ tarifa.pk }}">


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm rounded-s" id="agregarHorario">Guardar</button>
                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn">Cerrar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static "vendor/bootstrap-dialog/js/bootstrap-dialog.js" %}" charset="UTF-8"></script>
    <script src="{% static "js/crsfajax.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('select').material_select();
            $('.timepicker').pickatime({
                default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                twelvehour: false, // Use AM/PM or 24-hour format
                donetext: 'OK', // text for done-button
                cleartext: 'Clear', // text for clear-button
                canceltext: 'Cancel', // Text for cancel-button,
                container: undefined, // ex. 'body' will append picker to body
                autoclose: false, // automatic close timepicker
                ampmclickable: true, // make AM PM clickable
                aftershow: function () {
                } //Function for after opening timepicker
            });
        });

        function actualiza() {

            $('.modal').modal({
                    dismissible: false
                }
            );
            $('#modal1').modal('open');
        }

        function guardar(horarioid) {
            if (confirm('¿Está seguro que deseas modificar el horario ?')) {
                $.ajax({
                    url: "/webapp/horario/edit/" + horarioid, // the endpoint
                    type: "POST", // http method
                    cache: false,
                    data: {
                        horainicio: $("#horaInicio" + horarioid).val(),
                        horafin: $("#horaFin" + horarioid).val(),
                        diasemana: $("#horario" + horarioid).val()
                    },
                    // handle a successful response
                    success: function (json) {
                        console.log(json); // log the returned json to the console

                    },

                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        alert("Ocurrio un error al editar el horario");
                    }
                });
            }
        }

        function quitarHorario(horarioid) {
            if (confirm('¿Está seguro que deseas eliminar el horario ?')) {
                $.ajax({
                    url: "/webapp/horario/delete/" + horarioid, // the endpoint
                    type: "POST", // http method
                    // handle a successful response
                    success: function (json) {
                        console.log(json); // log the returned json to the console
                        $("#" + horarioid).remove();
                    },

                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        alert("Ocurrio un error al eliminar el horario");
                    }
                });
            }
        }
    </script>
{% endblock scripts %}
