{% extends 'config/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block style %}
{% endblock style %}
{% block content %}
<!-- <style>
		/* Set the size of the div element that contains the map */
		#map {
		width:"100%";
		height:"600px";
		border:0;
		}
</style> -->

	<!-- mapa y servicios -->
	<div class="row">
		<div class="col s12">
			<div class="row">
                <div class="col s1"></div>
				<div class="col s7">
					<div class="row">
						<div class="col s2">Ubicación:</div>
						<div class="col s8">
							<input type="text" id="searchTextField"/>
						</div>
					</div>
						<div id="map" style="width:100%;height:450px;border:1px solid #DCDCDC;"></div> 
						<!-- /.panel  -->
						<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15052.917522571319!2d-99.16222135!3d19.4024927!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1521092466422" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe> -->
				</div>
				<div class="col s4">
					<!--ingresar numero telefonico -->
					<div class="row">
						<div class="col s12 input-field">
							<input type="text" id="numero_telefonico" onblur="cargarClientesTelefono()">
							<label for="numero_telefonico">Número Telefónico</label>
						</div>
					</div>
					<!-- nombre del cliente -->
					<div class="row">
						<div class="col s8">
							<select id="nombres_usuarios">
                                <option value=" ">Usuario</option>
							</select>
						</div>
						<div class="col s4">
							<a class="waves-effect waves-light btn">Buscar</a>
						</div>
					</div>
					<!--direccion origen, donde se encuentra el usuario -->
					<div class="row">
						<div class="col s12 input-field">
                            <select id="direccion_origen">
                                <option value=" ">Usuario</option>
							</select>
							<input type="text" id="direccion_origen">
                            <label for="direccion_origen">Ubicación del usuario</label>
						</div>
					</div>
					<!--direccion destino, a donde va el usuario -->
					<div class="row">
						<div class="col s12 input-field">
							<input type="text" id="direccion_destino">
							<label for="direccion_destino">Dirección destino</label>
						</div>
					</div>
					<!-- referencia del lugar -->
					<div class="row">
						<div class="col s12 input-field">
							<input type="text" id="referencia_lugar">
							<label for="referencia_lugar">Referencias del lugar</label>
						</div>
					</div>
					<!-- referencias de la persona -->
					<div class="row">
						<div class="col s12 input-field">
							<input type="text" id="referencia_persona">
							<label for="referencia_persona">Referencias de la persona</label>
						</div>
					</div>
					<!-- número de económico -->
					<div class="row">
						<div class="col s12 input-field">
							<input type="text" id="numero_economico">
							<label for="numero_economico">Número de económico</label>
						</div>
					</div>
					<!-- costo del viaje -->
					<div class="row">
						<div class="col s8 input-field">
							<input type="text" id="cotizar_viaje">
							<label for="cotizar_viaje">Cotizar Viaje</label>
						</div>
						<div class="col s4">
							<a class="waves-effect waves-light btn" style="margin-top: 20%;">Cotizar</a>
						</div>
					</div>
					<!-- tipo de pago -->
					<div class="row">
						<div class="col s12">
							<select id="metodo_pago">
								<option value="" disabled selected>Seleccione</option>
								<option value="1">Efectivo</option>
								<option value="2">Tarjeta</option>
							</select>
						</div>
					</div>
					<!-- tipo de vehiculo -->
					<div class="row">
						<select id="tipo_vehiculo">
							<option value="" disabled selected>Seeleccione</option>
							<option value="1">Sedán</option>
							<option value="2">SUV</option>
						</select>
					</div>
					<!-- select's
					<div class="row">
						<div class="col s6">
							<input type="checkbox" id="reservar"/>
      						<label for="reservar">Reservar</label>
						</div>
						<div class="col s6">
							<input type="checkbox" id="cliente_preferente">
							<label for="cliente_preferente">Cliente preferente</label>
						</div>
					</div>
					-->
                        <div class="col s12 center" style="margin-top: -60px;">
							<a class="waves-effect waves-light btn" style="margin-top: 20%;">Solicitar servicio</a>
                        </div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
<script src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>
<script type="text/javascript">
		// Initialize and add the map
		var map;
        {% if  latitud %}
            var lat = {{ latitud }};
            var lgn = {{ longitud }};
        {% else %}
            var lat = 19.419260;
            var lgn = -99.164379;
        {% endif %}
        var marker;

        function initMap() {
			console.log('in mapa!')
            if (map !== undefined)
                return;
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lat, lng: lgn},
                zoom: 14
            });

            var input = /** @type {!HTMLInputElement} */(
                document.getElementById('searchTextField'));

            var types = [];

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.setTypes(types);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                anchorPoint: new google.maps.Point(0, -29),
                position: {lat: lat, lng: lgn},
            });

            marker.addListener('dragend', function () {
                lat = this.position.lat();
                lgn = this.position.lng();
                $('#lat').val(lat);
                $('#lgn').val(lgn);
            });
            marker.setVisible(true);

            autocomplete.addListener('place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("Autocomplete's returned place contains no geometry");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                lat = place.geometry.location.lat()
                lgn = place.geometry.location.lng();

                $('#lat').val(lat);
                $('#lgn').val(lgn);

            });
        }
</script>
		

<script type="text/javascript">
	$("document").ready(function(){
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
    	$('select').material_select();

		$(document).ready(function() {
			$.ajax({
                url: "/ws/tipoVehiculo/",
                type: "GET", 
                cache: false,
                success: function (json) {
                    console.log('tipo de vehiculo', json)
                    $("#tipo_vehiculo").empty().html(' ');
                    $('#tipo_vehiculo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Tipo de vehículo")
                    );
                    for (i in json) {
                        $('#tipo_vehiculo').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre + ' ' + json[i].a_paterno)
                        );
                    }
                    $('#tipo_vehiculo').material_select();
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert("No se pudo cargar tipo de vehículos");
                }
            });

			$.ajax({
                url: "/ws/tipoPago/",
                type: "GET", 
                cache: false,
                success: function (json) {

                    $("#metodo_pago").empty().html(' ');
                    $('#metodo_pago').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Forma de pago")
                    );
                    for (i in json) {
                        $('#metodo_pago').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre + ' ' + json[i].a_paterno)
                        );
                    }
                    $('#metodo_pago').material_select();
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert("No se pudo cargar tipo de vehículos");
                }
            });
  });
	});

	function cargarClientesTelefono() {
		var numTelefono = $('#numero_telefonico').val();
		if ( numTelefono != " " && numTelefono != null ) {
            $.ajax({
                url: "/ws/buscarTelefonoCliente/?telefono=" + numTelefono,
                type: "GET", // http method
                cache: false,
                // handle a successful response
                success: function (json) {
                    		    console.log('en ajax', json);
                    $("#nombres_usuarios").empty().html(' ');
                    $('#nombres_usuarios').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Usuario")
                    );
                    for (i in json) {
                        $('#nombres_usuarios').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre + ' ' + json[i].a_paterno)
                        );
                    }
                    $('#nombres_usuarios').material_select();
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert("No hay usuarios registrados con ese numero");
                }
            });
        }
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYY4fBmf4bsSTaWS7AArMpXtPiz4Iy9Gs&libraries=places&callback=initMap"></script>
{% endblock %}
<!-- Developed By Softic Web Team -->