<!-- SOFTIC SOLUTIONS-->
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--      CSS      -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!--      JS      -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js" ></script> <!-- jQuery updated-->
	<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
	<title>Taximovil login</title>
</head>
<body>
	<div class="had-container">
		<div class="row">
			<div class="col s12 banner_rosa"></div>
		</div>
		<div class="row"></div>

		<div class="row">
			<div class="col s3"></div>
			<div class="col s6 center z-depth-5 box_login"> <!--  box de login  -->
				<div class="row"></div> <!-- espacio para que se vea bonito -->
				<div class="row">
					<div class="col s1"></div>
					<div class="col s10 center">
						<img src="{% static 'images/logo.png' %}" class="responsive-img logo">
					</div>
					<div class="col s1"></div>
				</div>
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Tu cuenta no tiene los privilegios para ver esta página</p>
                    {% else %}
                        <p>Por favor inicia sesión para ver la página.</p>
                    {% endif %}
                {% endif %}
                <form method="post">
                {% csrf_token %}
                    <div class="row">		<!-- usuario  -->
                        <div class="col s1"></div>
                        <div class="col s10 input-field">
                            <input class="sombra" type="text" id="email", name="correo">
                            <label for="email">Usuario</label>
                        </div>
                        <div class="col s1"></div>
                    </div>
                    <div class="row">		<!--  contraseña  -->
                        <div class="col s1"></div>
                        <div class="col s10 input-field">
                            <input class="sombra" type="password" id="password", name="password">
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="col s1"></div>
                    </div>
                    <div class="row">
                        <div class="col s5 m8 l8"></div>
                        <div class="col s7 m4 l4">
                            <input type="submit" class="sesion" value="Iniciar Sesión">
                            <hr class="linea" color="#D01E88">
                        </div>
                    </div>
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                    {% endif %}
                </form>
			</div>
			<div class="col s3"></div>
		</div>
<footer class="page-footer">
			<div class="had-container">
				<div class="row">
					<div class="col s1"></div>
					<div class="col s10 center">
						<h6 class="black-text"><b>Taximovil</b> 2018</h6>
						<hr class="linea2" color="#D01E88">
					</div>
					<div class="col s1"></div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
<!-- Developed By Softic Web Team -->