{% extends 'config/base.html' %}
{% block content %}
		<!-- seccion de mensajes -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 center">
				<h4><i class="material-icons">assignment</i> En esta sección podrás enviar mensajes a los conductores.</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s5">
				<h5>Elija a quien enviarle el mensaje:</h5>
			</div>
			<div class="col s5">
				<select>
					<option value="" disabled selected>Seleccione</option>
					<option value="1">Juana la cubana</option>
					<option value="2">Sergio el bailador</option>
					<option value="3">Laura no está</option>
				</select>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 input-field">
				<input type="text" id="asunto">
				<label for="asuto">Asunto:</label>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 input-field">
				<textarea id="textarea1" class="materialize-textarea"></textarea>
          		<label for="textarea1">Mensaje:</label>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- botoncito para enviar -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 center">
				<a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Enviar</a>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->

		{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$("document").ready(function()
	{
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
		$('#textarea1').trigger('autoresize');
	});
	$("document").ready(function()
	{
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();

		$(document).ready(function() {
    $('select').material_select();
  });
	});
</script>
{% endblock %}
<!-- Developed By Softic Web Team -->