<!-- SOFTIC SOLUTIONS-->
{% extends "config/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Registro de tarifa
{% endblock %}
{% block content %}

{% csrf_token %}
		<!-- aquí empieza el formulario -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 center">
				<h4>Ingresa todos los datos para registrar una nueva tarifa.</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- aqui estan todos los select -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
						<select id="pais">
							<option selected value="">País</option>
							{% for pais in paises %}
							    <option value="{{ pais.pk }}">{{ pais.nombre }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col s4">
						<select id="ciudad">
							<option selected value="">Ciudad</option>
							{% for ciudad in ciudades %}
							    <option value="{{ ciudad.pk }}">{{ ciudad.nombre }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col s4">
						<select id="tipoVehiculo">
							<option selected value="">Tipo de Vehículo</option>
							{% for vehiculo in vehiculos %}
							    <option value="{{ vehiculo.pk }}">{{ vehiculo.nombre }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- segunda columna -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
					<select id="empresa">
						<option  selected value="">Empresa</option>
						{% for empresa in empresas %}
							    <option value="{{ empresa.pk }}">{{ empresa.nombre }}</option>
							{% endfor %}n>
					</select>
				</div>
				<div class="col s4">
					<select id="sucursal">
						<option selected value="">Sucursal</option>
						{% for sucursal in sucursales %}
							    <option value="{{ sucursal.pk }}">{{ sucursal.nombre }}</option>
							{% endfor %}
					</select>
				</div>
				<div class="col s4">
					<select id="tipoServicio">
						<option selected value="">Tipo de Servicio</option>
						{% for servicio in servicios %}
							    <option value="{{ servicio.pk }}">{{ servicio.nombre }}</option>
							{% endfor %}
					</select>
				</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- tercera columna -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
					<select id="zonaOrigen">
						<option disabled selected value="">Zona Origen</option>
						{% for zona in zonas %}
                            <option value="{{ zona.pk }}">{{ zona.nombre }}</option>
                        {% endfor %}
					</select>
				</div>
			<div class="col s4">
				<select id="zonaDestino">
					<option disabled selected value="">Zona Destino</option>
					{% for zona in zonas %}
                        <option value="{{ zona.pk }}">{{ zona.nombre }}</option>
                    {% endfor %}
				</select>
			</div>
			<div class="col s4">
				<select id="base">
					<option disabled selected value="">Base</option>
					{% for base in bases %}
							    <option value="{{ base.pk }}">{{ base.identificador }}</option>
                        {% endfor %}
				</select>
			</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
        <!-- cuarta fila -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
					<select id="sitio">
						<option disabled selected value="">Sitio</option>
						{% for sitio in sitios %}
                            <option value="{{ sitio.pk }}">{{ sitio.nombre }}</option>
                        {% endfor %}
					</select>
				</div>
			<div class="col s4">

			</div>
			<div class="col s4">

			</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- aquí van los horarios
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 left">
				<h5>Horarios</h5>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 center">
				<div class="row">
					<div class="col s12">
						<table class="bordered highlight centered responsive-table">
							<thead class="fondo_negro white-text">
								<tr>
									<th>DÍA</th>
									<th>HORA INICIAL</th>
									<th>HORA FINAL</th>
									<th>SOBREPRECIO</th>
									<th>AGREGAR NUEVO</th>
									<th>ELIMINAR</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>
										<select>
											<option disabled selected value="">SELECCIONE</option>
											<option value="1">LUNES</option>
											<option value="2">MARTES</option>
										</select>
									</td>
									<td> <input type="text" class="timepicker"> </td>
									<td> <input type="text" class="timepicker"> </td>
									<td><input type="text" id="sobreprecio" placeholder="$100"></td>
									<td><a href="#"><i class="material-icons">library_add</i></a></td>
									<td><a href="#"><i class="material-icons">delete_sweep</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		 end -->
		<!-- aquí se agregan las tarifas -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 left">
				<h4>Tarifas</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4 input-field">
						<input type="text" id="tarifaBase">
						<label for="t_base">Tarifa Base</label>
					</div>
					<div class="col s4 input-field">
						<input type="text" id="costoMinimo">
						<label for="cost_minimo">Costo Mínimo</label>
					</div>
					<div class="col s4 input-field">
						<input type="text" id="costoKm">
						<label for="cost_km">Costo por Kilómetro</label>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
			<!-- segunda parte -->
			<div class="row">
				<div class="col s1"></div>
				<div class="col s10">
					<div class="row">
						<div class="col s4 input-field">
							<input type="text" id="costoMinuto">
							<label for="cost_min">Costo por Minuto</label>
						</div>
						<div class="col s4 input-field">
							<input type="text" id="distanciaMaxima">
							<label for="d_max">Distancia Máxima</label>
						</div>
						<div class="col s4 input-field">
							<input type="text" id="incrementoDistancia">
							<label for="incremento_d">Incremento por Distrancia</label>
						</div>
					</div>
				</div>
				<div class="col s1"></div>
			</div>
		<!-- end -->

		<!-- comisiones
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 left">
				<h4>Comisiones</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s12">
						<table class="bordered highlight centered responsive-table">
							<thead class="fondo_negro white-text">
								<tr>
									<th>NOMBRE DE COMISIÓN</th>
									<th> $ CANTIDAD</th>
									<th>AGREGAR</th>
									<th>ELIMINAR</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>
										<input type="text" id="n_comision" placeholder="Comisión">
									</td>
									<td> <input type="text" id="cantidad" placeholder="$ Cantidad"> </td>
									<td><a href="#"><i class="material-icons">add</i></a></td>
									<td><a href="#"><i class="material-icons">delete</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		 end -->
		<!-- formas de pago -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 left">
				<h4>Formas de Pago</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s6">
                        {% for pago in pagos %}
                           <p>
                            <input value="{{ pago.pk }}" class="filled-in pagos" name="pagos" type="checkbox" id="Pag{{ pago.pk }}"/>
                            <label for="Pag{{ pago.pk }}">{{ pago.nombre }}</label>
                           </p>
                        {% endfor %}
					</div>
					<div class="col s2"></div>
					<div class="col s3">

					</div>
					<div class="col s1"></div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- boton para finalizar -->
		<div class="row">
			<div class="col s4"></div>
			<div class="col s4 center">
				<a class="waves-effect waves-light btn" onclick="guardarTarifa()"><i class="material-icons left">playlist_add</i>REGISTRAR TARIFA</a>
			</div>
			<div class="col s4"></div>
		</div>
		<!-- end -->
		<!-- fin -->
{% endblock %}

{% block scripts %}
    <script src="{% static "js/crsfajax.js" %}"></script>
<script type="text/javascript">
	$("document").ready(function()
	{
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
		$('select').material_select();

		$('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button,
    container: undefined, // ex. 'body' will append picker to body
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
	});
        function guardarTarifa() {
            var p = $('.pagos');
            var pago = ""
            for (i=0; i < p.length; i++ ){
                var valor = $(p[i]);
                if (valor.prop("checked")){
                    pago += ","+ valor.val();
                }

            }

            $.ajax({
                        url: "/config/tarifa/add/", // the endpoint
                        type: "POST", // http method
                        cache: false,
                        data: {
                            ciudad: $('#pais').val(),
                            pais: $('#ciudad').val(),
                            tipoVehiculo: $('#tipoVehiculo').val(),
                            empresa: $('#empresa').val(),
                            sucursal: $('#sucursal').val(),
                            servicio: $('#tipoServicio').val(),
                            zonaOrigen: $('#zonaOrigen').val(),
                            zonaDestino: $('#zonaDestino').val(),
                            base: $('#base').val(),
                            sitio: $('#sitio').val(),

                            tarifaBase: $('#tarifaBase').val(),
                            costoMinimo: $('#costoMinimo').val(),
                            costoKm: $('#costoKm').val(),
                            costoMinuto: $('#costoMinuto').val(),
                            distanciaMaxima: $('#distanciaMaxima').val(),
                            incrementoDistancia: $('#incrementoDistancia').val(),
                            pago: pago

                        },
                        // handle a successful response
                        success: function (json) {
                            console.log(json); // log the returned json to the console

                        },

                        // handle a non-successful response
                        error: function (xhr, errmsg, err) {
                            alert("Ocurrio un error al registrar la tarifa");
                        }
                    });
        }
</script>
{% endblock %}


<!-- Developed By Softic Web Team -->