<!-- SOFTIC SOLUTIONS-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--      CSS      -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css'%}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<!--      JS      -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js" ></script> <!-- jQuery updated-->
	<script type="text/javascript" src="{% static 'js/materialize.js'%}"></script>
	<title>Taximovil Reset Password</title>
</head>
<body>
	<div class="had-container">
		<div class="row">
			<div class="col s12 banner_rosa"></div>
		</div>
		<div class="row"></div>
		<!-- dead space -->
		<div class="row">
			<div class="col s3"></div>
			<div class="col s6 center z-depth-5 box_login"> <!--  box de login  -->
				<div class="row"></div> <!-- espacio para que se vea bonito -->
				<div class="row">
					<div class="col s1"></div>
					<div class="col s10 center">
						<img src="{% static 'images/logo.png'%}" class="responsive-img logo">
					</div>
					<div class="col s1"></div>
				</div>
                {% if validlink %}
                <form class="login-form" method="post" onSubmit="return validar_password()">
                    {% csrf_token %}
                    <div class="row">        <!-- usuario  -->
                        <div class="col s1"></div>
                        <div class="col s10 input-field">
                            <input class="sombra" id="password1" type="password" name="new_password1" required>
                            <label for="password1" class="center-align">Contraseña nueva</label>
                        </div>
                        <div class="col s1"></div>
                    </div>
                    <div class="row">        <!--  contraseña  -->
                        <div class="col s1"></div>
                        <div class="col s10 input-field">
                            <input class="sombra" id="password2" type="password" name="new_password2" required>
                            <label id="labelsito" for="password2" class="center-align">Confirmación de
                                contraseña</label>
                        </div>
                        <div class="col s1"></div>
                    </div>
                    <div class="row margin">
                        <div class="col s12">
                            <p id="msj_error"></p>
                            {% if form.errors %}
                                        <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li><span style="color: darkred">{{ field.label }}:</span> {{ error|escape }}</li>
                                    {% endfor %}
                                {% endfor %}
                                        </ul>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5 m8 l8"></div>
                        <div class="col s7 m4 l4">
                            <button type="submit" class="sesion btn" style="color: #ffffff">Enviar</button>
                        </div>
                    </div>
                </form>
                {% else %}
                <strong>
                    El link para resetear password no es válido, posiblemente porque ha sido usado anteriormente.
                    Por favor solicite de nuevo un correo para reestablecer contraseña.
                </strong>
                {% endif %}
			</div>
			<div class="col s3"></div>
		</div>
		<footer class="page-footer">
			<div class="had-container">
				<div class="row">
					<div class="col s1"></div>
					<div class="col s10 center">
						<h6 class="black-text"><b>Taximovil</b> 2018</h6>
						<hr class="linea2" color="#D01E88">
					</div>
					<div class="col s1"></div>
				</div>
			</div>
		</footer>
	</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.slider').slider();
        $('.carousel').carousel({
            dist: 0,
            shift: 0,
            padding: 20

        });
        $('select').material_select();
    });

    function validar_password() {
        var contra1 = $('#password1').val();
        var contra2 = $('#password2').val();
        //alert("valor1"+contra1);
        //alert("valor2"+contra2);
        if (contra1 == '' || contra2 == '') {
            $('#msj_error').text('Debes introducir tu contraseña en los dos campos');
            return false;
        }

        if (contra1 != contra2) {
            $('#msj_error').text('Las contraseñas introducidas no son iguales');
            return false;
        } else {
            var $toastContent = $('<span style="font-size: .8rem !important; color: #ffffff !important; ">Espera un momento en lo que te redireccionamos</span>');
            Materialize.toast($toastContent, 200000);
            return true;
            //alert('Al aceptar se restablecerá tu contraseña y serás redireccionado a la pantalla de login')
        }


    }
</script>
</html>
<!-- Developed By Softic Web Team -->