<!-- SOFTIC SOLUTIONS-->
{% extends 'config/base.html' %}
{% load widget_tweaks %}

{% block content %}

  		<div class="row">
  			<div class="col s1"></div>
  			<div class="col s10 center">
  				<div class="row">
  					<!-- servicios notificados -->
  					<div class="col s4">
  						<div class="box_naranja">
  							<label class="center titulo_servicio">NOTIFICADO</label>
  						</div>
				        <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea3 right">
				            </div>
				        </div>
				        <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea3 right">
				            </div>
				        </div>
				        <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea3 right">
				            </div>
				        </div>
				    </div>
				    <!-- Servicios Rechazados -->
  					<div class="col s4">
  						<div class="box_rosa">
  							<label class="center titulo_servicio">RECHAZADO</label>
  						</div>
				        <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea4 right">
				            </div>
				        </div>
				        <div class="card servicio_container darken-1 no_top">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea4 right">
				            </div>
				            <div class="card servicio_container darken-1 no_top">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea4 right">
				            </div>
				        </div>
  					</div>
  					</div>
  					<!-- servicios aceptados -->
  					<div class="col s4">
  						<div class="box_morado">
  							<label class="center titulo_servicio">ACEPTADO</label>
  						</div>
				        <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea5 right">
				            </div>
				        </div>
				        <div class="card servicio_container darken-1 no_top">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea5 right">
				            </div>
				            <div class="card servicio_container darken-1 no_top">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea5 right">
				            </div>
				        </div>
  					</div>
  					</div>
  				</div>
  			</div>
  			<div class="col s1"></div>
  		</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$("document").ready(function()
	{
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
	});
</script>
{% endblock %}
<!-- Developed By Softic Web Team -->