<!-- SOFTIC SOLUTIONS-->
{% extends 'config/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <!-- MODALS -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Mapa</h4>

            <div id="map" style="width:100%;height:450px;border:1px solid #DCDCDC;"></div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
    </div>

    <!-- END MODALS -->

  		<div class="row">
  			<div class="col s1"></div>
  			<div class="col s10 center">
  				<div class="row" >
  					<!-- servicios notificados -->
  					<div class="col s4" >
  						<div class="box_naranja">
  							<label class="center titulo_servicio">SOLICITADO / NOTIFICADO</label>
							</div>
							<div id="vehiculos_notificados">

							</div>
				        
				    </div>
						<!-- Servicios Rechazados -->
  					<div class="col s4">
							<div class="box_rosa">
								<label class="center titulo_servicio">SERVICIO ASIGNADO</label>
  						</div>
							
							<div id="servAsignado">
							</div>
							
  					</div>
  					<!-- servicios aceptados -->
  					<div class="col s4">
  						<div class="box_morado">
  							<label class="center titulo_servicio">EN SERVICIO</label>
							</div>
							<div id="vehiculos_servicio"></div>
				        <!-- <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Ford Ikon 2016</b></label>
				              <br>
				              <label class="texto"><b>Chofer:</b></label><label class="texto">Juan Manuel Higuera</label>
				              <label class="texto"><b>Cliente:</b></label><label class="texto">Miguel Guzmán Rojo</label>
				              <label class="texto"><b>Dirección:</b></label><label class="texto">Roma Sur</label>
				            </div>
				            <div class="card-action">
				              <a href="#" class="right black-text"><b>Ver más</b></a>
				              <br>
				              <hr class="linea5 right">
				            </div>
				        </div> -->
  					</div>
  				</div>
  			</div>
  			<div class="col s1"></div>
  		</div>
{% endblock %}

{% block scripts %}

<script src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static 'js/crsfajax.js' %}"></script>
<script type="text/javascript">
		// Initialize and add the map
		var map;
        {% if  latitud %}
            var lat = {{ latitud }};
            var lgn = {{ longitud }};
        {% else %}
            var lat = 19.419260;
            var lgn = -99.164379;
        {% endif %}
        var marker;
        var marcadores = [];

        function initMap() {
			console.log('in mapa!')
            if (map !== undefined)
                return;
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lat, lng: lgn},
                zoom: 14
            });

            var input = /** @type {!HTMLInputElement} */(
                document.getElementById('searchTextField'));

            var types = [];


            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.setTypes(types);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            /*
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                anchorPoint: new google.maps.Point(0, -29),
                position: {lat: lat, lng: lgn},
            });
            */

            // marker.addListener('dragend', function () {
            //     lat = this.position.lat();
            //     lgn = this.position.lng();
            //     $('#lat').val(lat);
            //     $('#lgn').val(lgn);
            //     console.log('latlng marker', lat, lgn)
            // });
            // marker.setVisible(true);

        }
</script>


<script type="text/javascript">
	$("document").ready(function() {
	    $('.modal').modal();

		$.ajax({
			url: "/ws/list_servicios/?tipo_servicio=1",
			type: "GET", 
			cache: false,
			success: function (json) {
				console.log('serv 1', json);
				$("#vehiculos_notificados").empty().html(' ');
                for (i of json.results) {
                    $('#vehiculos_notificados').append(`
                       <div id="notificados` + i.pk + `">
                        <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
				              <label class="texto"><b>Cliente:</b></label>
                                <label class="texto">`+
                                 i.cliente.nombre + ' ' + i.cliente.a_paterno +`</label><br>
                                <label class="texto"><b>Origen:</b></label>
                                <label class="texto">`
                                + i.direccion_origen.split(',')[0] +
                                `</label><br>
				              <label class="texto"><b>Destino:</b></label>
                                <label class="texto">`
                                + i.direccion_destino.split(',')[0] +
                                `</label><br>
                                <label class="texto"><b>Procedencia:</b></label>
                                <label class="texto">`+
                                 i.cliente.procedencia +`</label><br>
                                 <label class="texto"><b>Hora servicio:</b></label>
                                <label class="texto">`+
                                 i.hora_servicio +`</label><br>
                                <label class="texto"><b>Id:</b></label>
                                <label class="texto">`+
                                 i.pk +`</label>
                                <div id="asignar_chofer` + i.pk + `" style="display:none">
                                   <div class="row">
                                    <div class="col s8" style="color:black">
                                        <select id="listaChoferes`+ i.pk + `" >
                                            <option style="color:black">Conductor</option>
                                        </select>
                                    </div>
                                    <div class="col s4">
                                        <a class="waves-effect waves-light btn" style="height: 24px;line-height: 24px;padding: 0 1rem; "
                                        onclick="asignar(` + i.pk + `)">Asignar</a>
                                    </div>
                                   </div>
                                </div>
				            </div>
				            <div class="card-action">
				              <div class="row">
                                <div class="col s4">
				                    <a class="right black-text" onclick="displayChoferes(`+ i.pk + `)" style="cursor: pointer">
                                        <b>Asignar</b></a>
				                    <br>
				                    <hr class="linea3 right">
                                </div>
                                <div class="col s4">
				                    <a href="#modal1" class="right black-text modal-trigger" onclick="addMarcadoresDestinos(`
                                    + i.origen.coordinates[0] + `,` + i.origen.coordinates[1] + `,` + i.destino.coordinates[0] + `,` + i.destino.coordinates[1] + `)"><b>Mapa</b></a>
				                    <br>
				                    <hr class="linea3 right">
                                </div>
                                <div class="col s4">
									<a onclick="cancelarServicio(`+ i.pk + `)" style="cursor: pointer"
									 class="right black-text"><b>Cancelar</b></a>
				                    <br>
				                    <hr class="linea3 right">
                                </div>
                                </div>
				            </div>
				        </div>
										`);
                }
                $('#list_ciudades').material_select();
            }
		});

		$.ajax({
			url: "/ws/list_servicios/?tipo_servicio=4",
			type: "GET",
			cache: false,
			success: function (json) {
				console.log('completados', json.results);
				$("#servAsignado").empty().html(' ');
                for (i of json.results) {
                    $('#servAsignado').append(`
                       <div id="completado` + i.pk + `">
                        <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
                                            <label class="texto"><b>Cliente:</b></label>
											<label class="texto">`+ i.cliente.nombre + ' ' + i.cliente.a_paterno + `</label>
                                            <br>
                                            <label class="texto"><b>Origen:</b></label>
											<label class="texto">`
											+ i.direccion_origen.split(',')[0] +
											`</label><br>
											<label class="texto"><b>Chofer:</b></label>
											<label class="texto">`+
											 i.chofer.nombre + ' ' + i.chofer.a_paterno + ' ' + i.chofer.a_materno +
											 `</label><br>
				              <label class="texto"><b>Cliente:</b></label>
											<label class="texto">`+
											 i.cliente.nombre + ' ' + i.cliente.a_paterno +`</label><br>
				              <label class="texto"><b>Destino:</b></label>
											<label class="texto">`
											+ i.direccion_destino.split(',')[0] + 
											`</label><br>

											<label class="texto"><b>Registro:</b></label>
											<label class="texto">`+
											 i.hora_registro +`</label><br>
											 <label class="texto"><b>Hora servicio:</b></label>
											<label class="texto">`+
											 i.hora_servicio +`</label><br>
				            </div>
                            <div class="card-action">
                                <div class="row">
                                <div class="col s4">
				                    <a href="#" class="right black-text"><b>Reenviar</b></a>
				                    <br>
				                    <hr class="linea3 right">
                                </div>
                                <div class="col s4">
				                    <a href="#modal1" class="right black-text modal-trigger" onclick="addMarcadoresDestinos(`
                                    + i.origen.coordinates[0] + `,` + i.origen.coordinates[1] + `,` + i.destino.coordinates[0] + `,` + i.destino.coordinates[1]
									+ `,` + i.chofer.latlgn.coordinates[1] + `,` + i.chofer.latlgn.coordinates[0] + `)"
									><b>Mapa</b></a>
				                    <br>
				                    <hr class="linea3 right">
                                </div>
                                <div class="col s4">
				                    <a onclick="concluirServicio(`+ i.pk + `, "completado")"
				                    href="#" class="right black-text"><b>Concluir</b></a>
				                    <br>
				                    <hr class="linea3 right">
                                </div>
                                </div>
				            </div>
				        </div>
                       </div>
										`);
                }
            }
		});

		// + `,` + i.chofer.latlgn.coordinates[1] + `,` + i.chofer.latlgn.coordinates[0]

		$.ajax({
			url: "/ws/list_servicios/?tipo_servicio=2",
			type: "GET",
			cache: false,
			success: function (json) {
				console.log('aceptados', json.results);
				$("#vehiculos_servicio").empty().html(' ');
                for (i of json.results) {
                    $('#vehiculos_servicio').append(`
                         <div id="servicio` + i.pk + `">
                            <div class="card servicio_container darken-1 no_top no_bottom">
				            <div class="card-content white-text left-align">
											<label class="texto"><b>Chofer:</b></label>
											<label class="texto">`+
											 i.chofer.nombre + ' ' + i.chofer.a_paterno + ' ' + i.chofer.a_materno +
											 `</label><br>
				              <label class="texto"><b>Cliente:</b></label>
											<label class="texto">`+
											 i.cliente.nombre + ' ' + i.cliente.a_paterno +`</label><br>
				              <label class="texto"><b>Destino:</b></label>
                                <label class="texto">`
                                + i.direccion_destino.split(',')[0] +
                                `</label><br>
                                <label class="texto"><b>Ciudad Origen:</b></label>
                                <label class="texto">`
                                + i.direccion_destino.split(',')[3] +
                                `</label><br>
                                <label class="texto"><b>Registro:</b></label>
                                <label class="texto">`+
                                 i.hora_registro +`</label><br>
                                 <label class="texto"><b>Hora servicio:</b></label>
                                <label class="texto">`+
                                 i.hora_servicio +`</label><br>
				            </div>
				            <div class="card-action">
				              <div class="row">
                                <div class="col s4">
				                    <a class="right black-text" onclick="concluirServicio(`+ i.pk + `, "servicio")">
                                        <b>Finalizar</b></a>
				                    <br>
				                    <hr class="linea3 right">
                                </div>
                                <div class="col s4">
				                    <a href="#modal1" class="right black-text modal-trigger" onclick="addMarcadoresDestinos(`
                                    + i.origen.coordinates[0] + `,` + i.origen.coordinates[1] + `,` + i.destino.coordinates[0] + `,` + i.destino.coordinates[1] 
									+ `,` + i.chofer.latlgn.coordinates[1] + `,` + i.chofer.latlgn.coordinates[0] + `)"
									><b>Mapa</b></a>
				                    <br>
				                    <hr class="linea3 right">
                                </div>

                                </div>
				            </div>
				        </div>
										`);
                }
            }
		});
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
	});

	function cancelarServicio(id) {
		$.ajax({
			url: "/ws/cambiarEstatusServicio/",
			type: "POST",
			cache: false,
			data: {
				servicio : id,
				estatus : 7
			},
			success: function (json) {
				console.log('cambio con exito', json)
				$('#notificados'+ id ).empty();
			},
			error: function (xhr, errmsg, err) {
                    alert(errmsg, err);
                }
        })
	}

	function displayChoferes(id) {
        $('#asignar_chofer' + id).show();
	    $.ajax({
			url: "/ws/list_vehiculos_activos/",
			type: "GET",
			cache: false,
			success: function (json) {
                    $("#listaChoferes"+ id).empty().html('');
                    $('#listaChoferes'+ id).append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Conductor")
                    );

				for (i in json) {
                    $('#listaChoferes' + id).append(
                        $("<option></option>")
                            .attr("value", json[i].chofer.id)
                            .text(json[i].chofer.nombre + ' ' + json[i].chofer.a_paterno )
                    );
                }
                $('#listaChoferes' + id).material_select();
			}
        })

    }

    function test(id) {
	    $('#listaChoferes' + id).material_select();
	    console.log($('#listaChoferes' + id).val());
    }

	function concluirServicio(id, estado) {
		$.ajax({
			url: "/ws/cambiarEstatusServicio/",
			type: "POST",
			cache: false,
			data: {
				servicio : id,
				estatus : 6
			},
			success: function (json) {
				console.log('cambio con exito', json)
				$('#'+ estado + id ).empty();
			},
			error: function (xhr, errmsg, err) {
                    alert(errmsg, err);
                }
        })
	}

	function asignar(servicio) {
	    var chofer = $('#listaChoferes' + servicio).val();
	    $.ajax({
			url: "/ws/asignar_chofer/",
			type: "POST",
			cache: false,
			data: {
				servicio : servicio,
				chofer : chofer
			},
			success: function (json) {
				alert('Conductor asignado exitosamente')
			},
			error: function (xhr, errmsg, err) {
                    alert(xhr.responseJSON.Error);
                }
        })
    }

	function reenviarSolicitud( id, idx) {
	    // pop idx
	    $.ajax({
			url: "/ws/" + id,
			type: "GET",
			cache: false,
			success: function (json) {
			}
        })
    }

    function addMarcadoresDestinos(origen_lon, origen_lat, destino_lon, destino_lat, chofer_lon = null, chofer_lat = null  ) {

        for(let i=0; i < marcadores.length; i++){
            marcadores[i].setMap(null);
        }

        marcadores = []

        locations = [
            {lat: +origen_lat, lng: +origen_lon},
            {lat: +destino_lat, lng: +destino_lon},
        ];

		if(chofer_lon && chofer_lat ) {
			locations.push({
				lat: +chofer_lat, lng: +chofer_lon
			})
		}

		console.log(locations);

	    map.setCenter({
                    lat: +origen_lat,
                    lng: +origen_lon
                });

       // setMapOnAll(null);

        locations.map( e => {
            var mark = new google.maps.Marker({
                position: e,
                map: map
            });
            marcadores.push(mark);
        })


	    /*
	    marker = new google.maps.Marker({
                map: map,
                draggable: true,
                anchorPoint: new google.maps.Point(0, -29),
                position: {lat: origen_lat, lng: origen_lon}
            });
            */
	    function setMapOnAll(map) {
            for (var i = 0; i < marcadores.length; i++) {
            marcadores[i].setMap(map);
            }
        }

        //  var markerCluster = new MarkerClusterer(map, marcadores,
        //     {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

        setMapOnAll(map);

    }



</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYY4fBmf4bsSTaWS7AArMpXtPiz4Iy9Gs&libraries=places&callback=initMap"></script>
{% endblock %}
<!-- Developed By Softic Web Team -->