<!--   SOFTIC SOLUTIONS   -->
{% extends "config/tab_base.html" %}
    {% block titulo_tabla %}<h5 class="black-text margin_114">Vehiculos asignados a: {{ chofer.get_full_name }}</h5>{% endblock %}
{% load static %}
{% block campos %}
    <th>Placa</th>
    <th>Año</th>
    <th>Modelo</th>
    <th>Cromatica</th>
    <th>Propietario</th>
    <th>Economico</th>
    <th>Ciudad</th>
    <th>Asignado</th>
{% endblock %}

{% block scripts_tabla %}
        function eliminar() {
            $.ajax({
                url: "delete/" + id,
                type: "POST", // http method
                // handle a successful response
                success: function (aData) {
                    $('#tabla').dataTable()._fnAjaxUpdate();
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert("Ocurrio un error");
                }
            });
        }

        function cambiar_estatus(id_vehiculo, id_chofer){
        $.ajax({
                url: "/ws/asignar_vehiculo_toogle/",
                data: {vehiculo: id_vehiculo, chofer: id_chofer},
                type: "POST", // http method
                // handle a successful response
                success: function (aData) {
                $('#tabla').dataTable()._fnAjaxUpdate();
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                alert("Ocurrio un error: " + xhr.responseJSON.detail);
                }
            });
        }
{% endblock %}

{% block url_ajax %}{% url 'webapp:list_ajax_vehiculos_chofer' chofer.pk %}{% endblock %}

