<!-- SOFTIC SOLUTIONS-->
{% extends 'config/tab_base.html' %}
{% load  widget_tweaks %}
{% block content %}
		<!-- aquí empieza el formulario -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 center">
				<h4>Ingresa todos los datos para registrar una nueva tarifa.</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- aqui estan todos los select -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
						<select>
							<option disabled selected value="">País</option>
							<option value="1">México</option>
							<option value="2">canadá</option>
						</select>
					</div>
					<div class="col s4">
						<select>
							<option disabled selected value="">Ciudad</option>
							<option value="1">CDMX</option>
							<option value="2">Toronto</option>
						</select>
					</div>
					<div class="col s4">
						<select>
							<option disabled selected value="">Tipo de Vehículo</option>
							<option value="1">Sedán</option>
							<option value="2">Camioneta</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- segunda columna -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
					<select>
						<option disabled selected value="">Empresa</option>
						<option value="1">Taximovil</option>
						<option value="2">Avant</option>
					</select>
				</div>
				<div class="col s4">
					<select>
						<option disabled selected value="">Sucursal</option>
						<option value="1">Reforma</option>
						<option>Roma Sur</option>
					</select>
				</div>
				<div class="col s4">
					<select>
						<option disabled selected value="">Tipo de Servicio</option>
						<option value="1">Pool</option>
						<option>Suv</option>
					</select>
				</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- tercera columna -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4">
					<select>
						<option disabled selected value="">Zona Origen</option>
						<option value="1">Norte</option>
						<option value="2">Sur</option>
					</select>
				</div>
			<div class="col s4">
				<select>
					<option disabled selected value="">Zona Destino</option>
					<option value="1">Este</option>
					<option value="2">Oeste</option>
				</select>
			</div>
			<div class="col s4">
				<select>
					<option disabled selected value="">Base</option>
					<option value="1">Basesita</option>
					<option value="2">Basesota</option>
				</select>
			</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- aquí van los horarios -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 left">
				<h5>Horarios</h5>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 center">
				<div class="row">
					<div class="col s12">
						<table class="bordered highlight centered responsive-table">
							<thead class="fondo_negro white-text">
								<tr>
									<th>DÍA</th>
									<th>HORA INICIAL</th>
									<th>HORA FINAL</th>
									<th>SOBREPRECIO</th>
									<th>AGREGAR NUEVO</th>
									<th>ELIMINAR</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>
										<select>
											<option disabled selected value="">SELECCIONE</option>
											<option value="1">LUNES</option>
											<option value="2">MARTES</option>
										</select>
									</td>
									<td> <input type="text" class="timepicker"> </td>
									<td> <input type="text" class="timepicker"> </td>
									<td><input type="text" id="sobreprecio" placeholder="$100"></td>
									<td><a href="#"><i class="material-icons">library_add</i></a></td>
									<td><a href="#"><i class="material-icons">delete_sweep</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- aquí se agregan las tarifas -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 left">
				<h4>Tarifas</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4 input-field">
						<input type="text" id="t_base">
						<label for="t_base">Tarifa Base</label>
					</div>
					<div class="col s4 input-field">
						<input type="text" id="cost_minimo">
						<label for="cost_minimo">Costo Mínimo</label>
					</div>
					<div class="col s4 input-field">
						<input type="text" id="cost_km">
						<label for="cost_km">Costo por Kilómetro</label>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
			<!-- segunda parte -->
			<div class="row">
				<div class="col s1"></div>
				<div class="col s10">
					<div class="row">
						<div class="col s4 input-field">
							<input type="text" id="cost_min">
							<label for="cost_min">Costo por Minuto</label>
						</div>
						<div class="col s4 input-field">
							<input type="text" id="d_max">
							<label for="d_max">Distancia Máxima</label>
						</div>
						<div class="col s4 input-field">
							<input type="text" id="incremento_d">
							<label for="incremento_d">Incremento por Distrancia</label>
						</div>
					</div>
				</div>
				<div class="col s1"></div>
			</div>
		<!-- end -->
		<!-- tercera parte -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s4"></div>
					<div class="col s4 input-field">
						<input type="text" id="comision">
						<label for="comision">Comisión</label>
					</div>
					<div class="col s4"></div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- comisiones -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 left">
				<h4>Comisiones</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s12">
						<table class="bordered highlight centered responsive-table">
							<thead class="fondo_negro white-text">
								<tr>
									<th>NOMBRE DE COMISIÓN</th>
									<th> $ CANTIDAD</th>
									<th>AGREGAR</th>
									<th>ELIMINAR</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>
										<input type="text" id="n_comision" placeholder="Comisión">
									</td>
									<td> <input type="text" id="cantidad" placeholder="$ Cantidad"> </td>
									<td><a href="#"><i class="material-icons">add</i></a></td>
									<td><a href="#"><i class="material-icons">delete</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- formas de pago -->
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10 left">
				<h4>Formas de Pago</h4>
			</div>
			<div class="col s1"></div>
		</div>
		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<div class="row">
					<div class="col s6">
						<select>
							<option value="" disabled selected>Forma de Pago</option>
							<option value="1">Efectivo</option>
							<option value="2">Tarjeta</option>
							<option value="1">PayPal</option>
						</select>
					</div>
					<div class="col s2"></div>
					<div class="col s3">
						<a class="waves-effect waves-light btn"><i class="material-icons left">check</i>Agregar Forma de Pago</a>
					</div>
					<div class="col s1"></div>
				</div>
			</div>
			<div class="col s1"></div>
		</div>
		<!-- end -->
		<!-- boton para finalizar -->
		<div class="row">
			<div class="col s4"></div>
			<div class="col s4 center">
				<a class="waves-effect waves-light btn"><i class="material-icons left">playlist_add</i>REGISTRAR TARIFA</a>
			</div>
			<div class="col s4"></div>
		</div>
		<!-- end -->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$("document").ready(function()
	{
		$(".dropdown-button").dropdown();
		$(".button-collapse").sideNav();
		$('select').material_select();

		$('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button,
    container: undefined, // ex. 'body' will append picker to body
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
	});
</script>
{% endblock %}

<!-- Developed By Softic Web Team -->