<!-- SOFTIC SOLUTIONS-->
{% extends "config/base.html" %}
{% load static %}
{% block content %}
    <!-- aquí comienza la tabla -->
    <div class="row"></div>        <!-- dead space -->
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <table class="bordered highlight centered responsive-table" id="tabla">
                <thead class="fondo_negro white-text">
                <tr>
                    {% block campos %}{% endblock %}
                </tr>
                </thead>
            </table>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <ul class="pagination">
                <li class="waves-effect"><a href="#!"><i class="material-icons rosa">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons rosa">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/crsfajax.js' %}"></script>
    <script type="text/javascript">

        var id = 0;

        function actualiza(uid) {
            id = uid;
            $('.modal').modal({
                    dismissible: false
                }
            );
            $('#modal1').modal('open');
        }

        {% block scripts_tabla %}
        {% endblock %}

        $(document).ready(function () {
            tabla = $('#tabla').DataTable({
                dom: 'lfrtip',
                language: {
                    url: "{% static "datatables/spanish.json" %}"
                },
                buttons: ['copy', 'excel', 'pdf'],
                processing: true,
                serverSide: true,
                ajax: "{% block url_ajax %}{% endblock %}",
            });

            $("#buscar").on('keyup', function () {
                $('#usuarios').dataTable().fnFilter(this.value);
            });

            $(document).ready(function () {
                $('select').material_select();
            });

            tabla.on('draw', function () {
                $('select').material_select();
            });

            $('select').material_select();
            $(".button-collapse").sideNav();

            Materialize.updateTextFields();
            $('select').material_select();
            $('ul.tabs').tabs({
                swipeable: true,
                responsiveThreshold: 1920
            });


        });

    </script>
{% endblock %}

<script type="text/javascript">
    $("document").ready(function () {
        $(".dropdown-button").dropdown();
        $(".button-collapse").sideNav();

        $('select').material_select();
    });


</script>

<!-- Developed By Softic Web Team -->