<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Cambiar Contraseña</title>
</head>
<body>
	<table id="titulo" style='font-size:18px; font-family: Source Sans Pro, Helvetica Neue, Helvetica, sans-serif; padding:0; margin: 0 auto; background: url(img/banner_rosa.png); height:90px; width:653px;' cellpadding='0' cellspacing='0'>
		<tbody>
			<tr>
				<td>
					<p style="padding:0px 0px 0px 56px; margin-left: -2%; font-size: 1.8rem; color: #FFFFFF;">¡Hola! Modifica tu contraseña para Taximovil</p>
				</td>
			</tr>		
		</tbody>
	</table>
	<!-- another table -->
	<table id="contenedor" style='font-size:18px; font-family: Source Sans Pro, Helvetica Neue, Helvetica, sans-serif; padding:0; margin: 0 auto; height:90px; width:653px;' cellpadding='0' cellspacing='0'>
		<tbody>
			<tr>
				<td>
					<p style="padding:0px 0px 0px 56px; font-size: 1.5rem; width: 50%;">Parece que has tenido problemas con tu contraseña, por favor para restaurar tu contraseña entra al siguiente enlace.</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="img/taximovil_phone.png" style="width: 45%; margin-left: 59%; margin-top: -29%;">
				</td>
			</tr>
			<tr>
				<td>
					<p style="padding:0px 0px 0px 56px; text-decoration: underline; font-style:italic; font-size: 1.4rem; margin-top: -25%; margin-left: -5%;"><a style="color: #0CAACD !important;" href="#!">https://prueba.com/change-password</a></p>
				</td>
			</tr>
		</tbody>
	</table>
	<table table style='width:653px; font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif; text-align: center; padding:0; margin: 0 auto; background:#C7C7C7;' cellpadding='0' cellspacing='0'>



	<tr>

    	<td style='margin-bottom:16px; color:#333333;'> &copy; 2018, <b style='color:#D01E88;'>taximovil.com.mx </td>

	</tr>

    <tr>

    	<td style='margin-bottom:16px; padding-top:16px; color:#6c6c6c; font-weight:bold; font-size:12px;'> 

        	<i class="fas fa-phone fa-lg" style="color: #000000;"></i><a href='#' style='color:#6c6c6c; text-decoration:none;'> Teléfono</a> 

            <i class="far fa-envelope fa-lg" style="color: #000000;"></i><a href='#!' style='color:#6c6c6c; text-decoration:none;'> mail.com</a>

         </td>

	</tr>

    <tr>

    	<td style='font-size:12px; font-weight:bold; color:#3a9dde; padding-top:16px;'><b style='margin-right:6px; text-align:center;'><a href='https://isolveu.com/pages/aviso-de-privacidad' target='_blank'; style='color:#3a9dde; text-decoration:none;'>Aviso de Privacidad</a></b> | <b style=' margin-left:6px;'> <a href='https://isolveu.com/pages/terminos-y-condiciones' target='_blank' style='color:#3a9dde; text-decoration:none;'>T&eacute;rminos y condiciones</a></b></td>

	</tr>

</table>
</body>
<!-- only script -->
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</html>