<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Recupera tu password</title>
</head>

<body>
<b style="position: absolute; padding-top:0px;">Hola {{ nombre }}</b>

<p style="margin-top:65px; margin-bottom:20px;">Sigue el siguiente <b>link</b> para actualizar tu contraseña:</p>
<!--margin-top:40px-->
<p style=" margin-bottom:60px;">{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'webapp:reset_confirm' uidb64=uid token=token %}</p>
</body>
</html>