<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Viaje Finalizado</title>
</head>
<body>
	<table id="titulo" style='font-size:18px; font-family: Source Sans Pro, Helvetica Neue, Helvetica, sans-serif; padding:0; margin: 0 auto; background: url(img/banner_rosa.png); height:90px; width:653px;' cellpadding='0' cellspacing='0'>
		<tbody>
			<tr>
				<td>
					<p style="color: #FFFFFF; font-size: 2.2rem; margin-left: 13%;">¡Tu reserva se realizó con éxito!</p>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- footer -->
	<table table style='width:653px; font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif; text-align: center; padding:0; margin: 0 auto; background:#C7C7C7;' cellpadding='0' cellspacing='0'>



	<tr>

    	<td style='margin-bottom:16px; color:#333333;'> &copy; 2018, <b style='color:#D01E88;'>taximovil.com.mx </td>

	</tr>

    <tr>

    	<td style='margin-bottom:16px; padding-top:16px; color:#6c6c6c; font-weight:bold; font-size:12px;'> 

        	<i class="fas fa-phone fa-lg" style="color: #000000;"></i><a href='#' style='color:#6c6c6c; text-decoration:none;'> Teléfono</a> 

            <i class="far fa-envelope fa-lg" style="color: #000000;"></i><a href='#!' style='color:#6c6c6c; text-decoration:none;'> mail.com</a>

         </td>

	</tr>

    <tr>

    	<td style='font-size:12px; font-weight:bold; color:#3a9dde; padding-top:16px;'><b style='margin-right:6px; text-align:center;'><a href='https://isolveu.com/pages/aviso-de-privacidad' target='_blank'; style='color:#3a9dde; text-decoration:none;'>Aviso de Privacidad</a></b> | <b style=' margin-left:6px;'> <a href='https://isolveu.com/pages/terminos-y-condiciones' target='_blank' style='color:#3a9dde; text-decoration:none;'>T&eacute;rminos y condiciones</a></b></td>

	</tr>

</table>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</html>